* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;
    font-size: .75rem;
    margin: 0;
}

img {
    width: 100%;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1em;
}

header span {
    font-size: 1rem;
}

header div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav a {
    text-decoration: none;
    padding: 0 1em;
    color: #fff;
}

nav a:link,
nav a:visited {
  color: #fff;
}

nav a:hover, 
nav a:focusgr {
    color: #fff;
}

#hero {
    height: 600px;
    background-image: url(../images/hands-typing.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(70%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    max-width: 60%;
    background-color: rgba(0, 0, 0, 50%);
    color: #fff;
    font-size: 2.5rem;
    text-shadow: 0 2px 2px #000;
    text-align: center;
}

#about-me .wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

#about-me h2 {
    font-size: 2rem;
}

#services {
    background-color: #fafafa;
    padding: 3em 0;
}

#services h2 {
    max-width: 940px;
    text-align: center;
    margin-top: 0;
    font-size: 2rem;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.grid article {
    padding: 1em;
    background-color: #fff;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.grid article h3 {
    margin: 0;
    font-size: 1.5rem;
}

.grid a:link,
.grid a:visited {
    padding: 1em;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    border: 2px solid #000;
    border-radius: 4px;
    
    margin-top: auto;
}

.grid a:hover,
.grid:focus {
    background-color: #fff;
    color: #000;
}

#work {
    padding: 3em 0;
}

#work h2 {
    max-width: 940px;
    text-align: center;
    margin: 0 auto;
    font-size: 2rem;
}

#work p {
    max-width: 940px;
    text-align: center;
    Padding: 0 12em;
}

.field {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);

    grid-template-areas:
        "block1 block1 block1 block2 block2 block2"
        "block3 block3 block4 block4 block5 block5"
    ;
}

.field .block:nth-child(1) {
    grid-area: block1;
}
.field .block:nth-child(2) {
    grid-area: block2;
}
.field .block:nth-child(3) {
    grid-area: block3;
}
.field .block:nth-child(4) {
    grid-area: block4;
}
.field .block:nth-child(5) {
    grid-area: block5;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}